$icomoon-font-path: "fonts" !default;

$icon-thought-provoker: "\e907";
$icon-catechism: "\e900";
$icon-church-docs: "\e901";
$icon-doctrine: "\e902";
$icon-other-docs: "\e903";
$icon-prayer: "\e905";
$icon-scripture: "\e906";
$icon-papal-docs: "\e904";
$icon-video: "\e908";
$icon-search: "\f002";
$icon-chevron-up: "\f077";
$icon-chevron-down: "\f078";
$icon-bars: "\f0c9";
$icon-navicon: "\f0c9";
$icon-reorder: "\f0c9";

