@import "~bulma/sass/utilities/initial-variables";


@import "~bulma/sass/utilities/all";
@import "~bulma/sass/base/helpers";
@import "~bulma/sass/grid/columns";

.fc {
	max-width: 1024px;
	margin: auto;

	* {
		box-sizing: border-box;
	}

	&--answer {

		&--header {

			.columns {
				align-items: stretch;
			}

			&--question-number {
				background: $red;
			}

			&--arrows {

				* {
					display: block;
					background: #eee;
				}

			}

			&--questions {
				background: #eee;
			}

		}

	}

}
